<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a New Job</title>
  </head>
  <body>
    <form action="/jobs" method="post">
      <label for ="new-job">Add a new job</label>
      <input id ="new-job" name="new-job" type="text" required>
      <button type="submit">Submit</button>
    </form>
    <a href="/jobs">View All Jobs</a>
    <a href="/">Home</a>
  </body>
</html>
