<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jobs I've Had</title>
  </head>
  <body>
    <a href="/add_job">Add a New Job</a>
    <a href="/jobs">View All Jobs</a>
  </body>
</html>
